@font-face {
  font-family: "Sofia Pro";
  src: url("./fonts/Sofia Pro/Sofia Pro UltraLight Az.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

/* @font-face {
  font-family: "Sofia Pro";
  src: url("./fonts/Sofia Pro/Sofia Pro UltraLight Italic Az.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
} */

@font-face {
  font-family: "Sofia Pro";
  src: url("./fonts/Sofia Pro/Sofia Pro Light Az.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

/* @font-face {
  font-family: "Sofia Pro";
  src: url("./fonts/Sofia Pro/Sofia Pro Light Italic Az.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
} */

@font-face {
  font-family: "Sofia Pro";
  src: url("./fonts/Sofia Pro/Sofia Pro Regular Az.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

/* @font-face {
  font-family: "Sofia Pro";
  src: url("./fonts/Sofia Pro/Sofia Pro Regular Italic Az.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
} */

@font-face {
  font-family: "Sofia Pro";
  src: url("./fonts/Sofia Pro/Sofia Pro Medium Az.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

/* @font-face {
  font-family: "Sofia Pro";
  src: url("./fonts/Sofia Pro/Sofia Pro Medium Italic Az.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
} */

@font-face {
  font-family: "Sofia Pro";
  src: url("./fonts/Sofia Pro/Sofia Pro Semi Bold Az.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

/* @font-face {
  font-family: "Sofia Pro";
  src: url("./fonts/Sofia Pro/Sofia Pro Semi Bold Italic Az.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
} */

@font-face {
  font-family: "Sofia Pro";
  src: url("./fonts/Sofia Pro/Sofia Pro Bold Az.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

/* @font-face {
  font-family: "Sofia Pro";
  src: url("./fonts/Sofia Pro/Sofia Pro Bold Italic Az.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
} */

@font-face {
  font-family: "Sofia Pro";
  src: url("./fonts/Sofia Pro/Sofia Pro Black Az.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

/* @font-face {
  font-family: "Sofia Pro";
  src: url("./fonts/Sofia Pro/Sofia Pro Black Italic Az.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
} */
